{% extends 'core/base.html' %}

{% block title %}
About
{% endblock %}

{% block meta %}

<meta name="description" content="ProductStore is the best, online markerting in Nigeria">
<meta name="author" content="Ayo Bankole">
<meta property="og:title" content="ProductStore | About">
<meta property="og:description" content="ProductStore is the best, online markerting in Nigeria">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.productstore.com/about/">

{% endblock %}


{% block content %}
<h2>About page</h2>

{% endblock %}