<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
    </button>
    <ul class="dropdown-menu">
        <div class="ml-5 items-center text-black">
            {% for category in categories %}
            <li><a class="flex items-center justify-between text-black"
                    href="{% url 'category_detail' category.slug %}">{{ category.title }}</a>
            </li>
            {% endfor %}

        </div>
    </ul>
</div>


<a class="text-white" href="{% url 'about' %}">About</a>